@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: grey;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 30px 80px;
}

.logo {
  font-size: 2.2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.black {
  color: #000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 40px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.6s ease-out;
  background-position: center;
}
.slide.active {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls li {
  width: 80px;
  height: 80px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controls li:before {
  content: "";
  width: 20px;
  height: 20px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
}
.controls li:nth-child(2):before {
  transform: rotate(-135deg);
}
.controls li:hover {
  background: #00c3ff;
}

.content-box {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 650px;
}

.info {
  display: none;
}

.info.active {
  display: block;
  padding: 20px;
  padding-left: 80px;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.6s ease-out;
}

.content-box .info h2 {
  color: #fff;
  font-size: 1.5em;
}
.content-box .info p {
  color: #fff;
  font-size: 0.9em;
}

.content-box .info a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 12px 30px;
  margin-top: 15px;
  border-radius: 30px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  font-size: 20px;
  font-weight: 600;
  color: black;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.content-box .info a:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.content-box .info a:active {
  color: red;
}
